body {
	background-image: url("background.jpg");
	font-family: "Georgia", serif;
}

h1 {
	font-size: 40px;
}

#header, #sidebarLabel, #resultsExplanation, #projectView, #labels {
	color: white;
}

#projectButton {
	margin-left: 210px;
}



