body {
	background-image: url("background3.jpg");
	background-size: cover;
	background-attachment: fixed;
	font-family: "Georgia", serif;
}

h1 {
	font-size: 40px;
}

#sidebarLabel, #resultsExplanation, #projectView, #labels {
	color: white;
}

#projectButton {
	margin-top:5px;
}

.ui-datepicker {
  z-index: 10003 !important;
}