body {
	background-image: url("background.jpg");
	background-attachment: fixed;
	font-family: "Georgia", serif;
}

h1 {
	font-size: 40px;
}

#header, #sidebarLabel, #resultsExplanation, #projectView, #labels {
	color: white;
}

#projectButton {
	margin-left: 210px;
}

.ui-datepicker {
  z-index: 1003 !important;
}